<%- include('parts/top.ejs')%>
<br>
<br>
<br>
<br>
<br>
<br>

<div class="container">

    <form method="POST" action='/login'>
        <!-- Email input -->
        <div class="form-outline mb-4">
          <input type="email" id="form1Example1" name="email" class="form-control" placeholder="Email"/>
    
        </div>
      
        <!-- Password input -->
        <div class="form-outline mb-4">
          <input type="password" id="form1Example2" name="password" class="form-control" placeholder="Password" />
        </div>
      
        <!-- 2 column grid layout for inline styling -->
        <% if(message){ %>
        <div class="alert alert-danger">
          <%= message %>
        </div>

        <% } %>
        <!-- Submit button -->
        <button type="submit" class="btn btn-primary btn-block">Login</button>
      </form>
    

</div>

<%- include('parts/bottom.ejs')%>